<article class="account">
  <div class="account__shell">
    <header class="account__header">
      <span class="label">Compte</span>
      <h1 class="account__title">Nouveau mot de passe</h1>
      <hr class="sep sep--center">
      <p class="account__hint" style="text-align:center;">
        Choisissez un nouveau mot de passe pour votre compte.
      </p>
    </header>

    {% form 'reset_customer_password' %}
      {%- if form.errors -%}
        <p class="account__error">{{ form.errors | default_errors }}</p>
      {%- endif -%}

      <div class="account__field">
        <label for="Password">Mot de passe</label>
        <input type="password" id="Password" name="customer[password]" autocomplete="new-password" required>
      </div>

      <div class="account__field">
        <label for="PasswordConfirm">Confirmer</label>
        <input type="password" id="PasswordConfirm" name="customer[password_confirmation]" autocomplete="new-password" required>
      </div>

      <button type="submit" class="btn btn--primary account__submit">Réinitialiser</button>
    {% endform %}
  </div>
</article>

{% render 'account-styles' %}
